<footer class="site-footer-wrapper"
  role="contentinfo"
  data-section-id="{{ section.id }}"
  data-section-type="footer">
  <div class="footerInstaArea">
    <div class="wrapper">
      <h2 class="sectionTitle instaTitle"> <a href="https://www.instagram.com/shopzodiacjules/" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="38" height="39" viewBox="0 0 38 39" fill="none">
      <rect width="38" height="39" fill="white"/>
      <path d="M19.0111 3.51221C24.0907 3.51221 24.6922 3.53507 26.6899 3.62649C28.5464 3.71029 29.549 4.03028 30.2173 4.29693C31.101 4.64739 31.7397 5.07404 32.4006 5.7521C33.069 6.43778 33.4774 7.08537 33.819 7.99199C34.079 8.67767 34.3909 9.71381 34.4725 11.6109C34.5617 13.6679 34.5839 14.285 34.5839 19.4886C34.5839 24.6997 34.5617 25.3169 34.4725 27.3663C34.3909 29.271 34.079 30.2995 33.819 30.9852C33.4774 31.8918 33.0616 32.547 32.4006 33.225C31.7323 33.9107 31.101 34.3298 30.2173 34.6802C29.549 34.9469 28.539 35.2668 26.6899 35.3507C24.6848 35.4421 24.0833 35.4649 19.0111 35.4649C13.9316 35.4649 13.3301 35.4421 11.3324 35.3507C9.47587 35.2668 8.47332 34.9469 7.80496 34.6802C6.92124 34.3298 6.28259 33.9031 5.62165 33.225C4.95329 32.5394 4.54485 31.8918 4.20324 30.9852C3.94333 30.2995 3.63142 29.2633 3.54974 27.3663C3.46062 25.3092 3.43834 24.6921 3.43834 19.4886C3.43834 14.2774 3.46062 13.6603 3.54974 11.6109C3.63142 9.70619 3.94333 8.67767 4.20324 7.99199C4.54485 7.08537 4.96072 6.43016 5.62165 5.7521C6.29001 5.06642 6.92124 4.64739 7.80496 4.29693C8.47332 4.03028 9.48329 3.71029 11.3324 3.62649C13.3301 3.53507 13.9316 3.51221 19.0111 3.51221ZM19.0111 0C13.8499 0 13.2038 0.022856 11.1765 0.11428C9.15654 0.205704 7.76783 0.540926 6.56478 1.0209C5.30975 1.52374 4.2478 2.18656 3.19328 3.27603C2.13133 4.35788 1.48525 5.44735 0.995114 6.72729C0.527262 7.96914 0.200508 9.38621 0.111393 11.4585C0.0222787 13.546 0 14.2088 0 19.5038C0 24.7988 0.0222787 25.4616 0.111393 27.5415C0.200508 29.6138 0.527262 31.0385 0.995114 32.2727C1.48525 33.5603 2.13133 34.6497 3.19328 35.7316C4.2478 36.8134 5.30975 37.4839 6.55736 37.9791C7.76783 38.4591 9.14911 38.7943 11.169 38.8857C13.1964 38.9771 13.8425 39 19.0037 39C24.1649 39 24.811 38.9771 26.8384 38.8857C28.8583 38.7943 30.247 38.4591 31.4501 37.9791C32.6977 37.4839 33.7596 36.8134 34.8141 35.7316C35.8687 34.6497 36.5222 33.5603 37.0049 32.2803C37.4727 31.0385 37.7995 29.6214 37.8886 27.5491C37.9777 25.4692 38 24.8064 38 19.5114C38 14.2164 37.9777 13.5536 37.8886 11.4737C37.7995 9.40145 37.4727 7.97675 37.0049 6.74253C36.537 5.44735 35.891 4.35788 34.829 3.27603C33.7745 2.19418 32.7125 1.52374 31.4649 1.02852C30.2544 0.548545 28.8732 0.213323 26.8532 0.121899C24.8184 0.022856 24.1724 0 19.0111 0Z" fill="#1A1A1A"/>
      <path d="M19.0106 9.48523C13.6192 9.48523 9.24512 13.9726 9.24512 19.5038C9.24512 25.0349 13.6192 29.5223 19.0106 29.5223C24.402 29.5223 28.7761 25.0349 28.7761 19.5038C28.7761 13.9726 24.402 9.48523 19.0106 9.48523ZM19.0106 26.0025C15.5129 26.0025 12.676 23.0922 12.676 19.5038C12.676 15.9154 15.5129 13.0051 19.0106 13.0051C22.5084 13.0051 25.3452 15.9154 25.3452 19.5038C25.3452 23.0922 22.5084 26.0025 19.0106 26.0025Z" fill="#1A1A1A"/>
      <path d="M31.4406 9.08912C31.4406 10.3843 30.4157 11.4281 29.1607 11.4281C27.8983 11.4281 26.8809 10.3767 26.8809 9.08912C26.8809 7.79394 27.9057 6.75018 29.1607 6.75018C30.4157 6.75018 31.4406 7.80156 31.4406 9.08912Z" fill="#1A1A1A"/>
      </svg>
      #ZodiacJules
      </a></h2>
    </div>
  </div>
  <div id="insta-feed"></div>
  <div class="wrapper site-footer">
    <div class="upperFooterWrapper">
      <div class="upperfooterInner">
         <div class="singleFooterLeft">
          <div class="leftFooterInner">
            <div class="footerLogo">
              <a href="{{ routes.root_url }}" class="footer-logo" data-footer-logo>
                <img src="{{ section.settings.footer_image | img_url: 'x200' }}" alt="{{ section.settings.footer_image.alt | default: shop.name }}"/>
              </a>
            </div>
            <div class="footerSocial">
                {% if section.settings.footer_social_enable %}
                <ul class="footerSocialInner">
                  {%- assign social_accounts = 'Facebook, Twitter, Tiktok, Pinterest, Instagram, Snapchat, Tumblr, Linkedin, YouTube, Vimeo, Medium, ' | split: ', ' -%}
                  {%- for social in social_accounts -%}
                    {%- assign social_handle = social | handleize -%}
                    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}

                    {%- if settings[social_link] != blank -%}
                      <li>
                        <a href="{{ settings[social_link] }}" title="{{ social }}">
                          {% render 'social-icon' handle: social_handle  %}
                          <span class="visually-hidden">{{ social }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              {% endif %}
            </div>
            <div class="NewsLetterArea">
             <div class="footerNewsletter">
              <p class="newsletterTitle">{{ section.settings.newsletter_title }}</p>
              {% render 'newsletter-form' %}
            </div>
            </div>
          </div>
         </div>
         <div class="singlefooterRight">
           <div class="rightFooterInner">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'linklist' %}
                    {% assign linklist = linklists[block.settings.linklist] %}
                    <div class="footerMenu footer__block" {{ block.shopify_attributes }}>
                      <p class="footer__Menutitle">{{ linklist.title }}</p>
                      <ul class="footer-quicklinks">
                        {% for link in linklist.links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                  {% when 'page' %}
                    {% assign page = pages[block.settings.page] %}
                    {% if page == blank or page.empty? %}
                      <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                        <p class="uppercase footer__title">{{ shop.name }}</p>
                        <hr class="hr--underline">
                        <div class="rte rte--column">{{ 'home_page.onboarding.no_content' | t }}</div>
                    </div>
                    {% else %}
                      <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                        <p class="uppercase footer__title">{{ page.title | escape }}</p>
                        <hr class="hr--underline">
                        <div class="rte rte--column">{{ page.content }}</div>
                      </div>
                    {% endif %}

                  {% when 'text' %}
                    <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                      <p class="uppercase footer__title">{{ block.settings.title | escape }}</p>
                      <hr class="hr--underline">
                      <div class="rte rte--column">{{ block.settings.text }}</div>
                    </div>

                  {% when 'newsletter' %}
                    <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                      <p class="uppercase footer__title">{{ 'layout.footer.newsletter_title' | t }}</p>
                      <hr class="hr--underline">
                      <div class="rte rte--column">
                        {{ block.settings.richtext }}
                      </div>
                      {% render 'newsletter-form' %}
                    </div>

                  {% else %}
                {% endcase %}
              {% endfor %}
           </div>
         </div>
      </div>
    </div>
    <div class="lowerFooterWrapper">
      <div class="lowerFooterInner">
        <div class="paymentArea">
          {% if section.settings.footer_payment_enable %}
            {% unless shop.enabled_payment_types == empty %}
            <ul class="footer-payment payment-icons inline-list">
              {% for type in shop.enabled_payment_types %}
              <li>
                {{ type | payment_type_svg_tag: class:'payment-icon' }}
                <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
              </li>
              {% endfor %}
            </ul>
            {% endunless %}
          {% endif %}
        </div>
        <div class="copyRightArea">
          {{ section.settings.copyright_text  }}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "label": "Footer logo",
      "type": "image_picker",
      "id": "footer_image",
      "info": "400 x 200px .png"
    },
    {
      "type": "header",
      "content": "Bottom bar"
    },
    {
      "type": "link_list",
      "id": "footer_secondary_linklist",
      "label": "Link List",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "checkbox",
      "id": "footer_payment_enable",
      "label": "Show payment types"
    },
    {
      "type": "checkbox",
      "id": "footer_social_enable",
      "label": "Show social icons"
    },
    {
      "type": "header",
      "content": "Newsletter"
      
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default":"Stay up to date with launches, promotions and updates."
    },
    {
      "type": "header",
      "content": "Copyright"
      
    },
    {
      "type": "richtext",
      "id": "copyright_text",
      "label": "Coppyright Text",
      "default":"<p>© 2024 ZodiacJules all rights reserved.</p>"
    },
    {
      "type": "header",
      "content": "language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    }
  ],
  "blocks" : [
    {
      "type": "linklist",
      "name": "Link list",
      "settings": [
        {
           "type": "link_list",
           "id": "linklist",
           "label": "Link list",
           "default": "main-menu",
           "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Subscribers are under 'Accepts Marketing' in your [customer admin](/admin/customers)."
        },
        {
          "id": "richtext",
          "type": "richtext",
          "label": "Newsletter description",
          "default": "<p>Join to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text column"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        }
      ]
    }
  ]
}
{% endschema %}
