<footer class="site-footer-wrapper"
  role="contentinfo"
  data-section-id="{{ section.id }}"
  data-section-type="footer">
  <div class="wrapper site-footer">
    <div class="upperFooterWrapper">
      <div class="upperfooterInner">
         <div class="singleFooterLeft">
          <div class="leftFooterInner">
            <div class="footerLogo">
              <a href="{{ routes.root_url }}" class="footer-logo" data-footer-logo>
                <img src="{{ section.settings.footer_image | img_url: 'x200' }}" alt="{{ section.settings.footer_image.alt | default: shop.name }}"/>
              </a>
            </div>
            <div class="footerSocial">
                {% if section.settings.footer_social_enable %}
                <ul class="footerSocialInner">
                  {%- assign social_accounts = 'Facebook, Twitter, Tiktok, Pinterest, Instagram, Snapchat, Tumblr, Linkedin, YouTube, Vimeo, Medium, ' | split: ', ' -%}
                  {%- for social in social_accounts -%}
                    {%- assign social_handle = social | handleize -%}
                    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}

                    {%- if settings[social_link] != blank -%}
                      <li>
                        <a href="{{ settings[social_link] }}" title="{{ social }}">
                          {% render 'social-icon' handle: social_handle  %}
                          <span class="visually-hidden">{{ social }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              {% endif %}
            </div>
            <div class="NewsLetterArea">
             <div class="footerNewsletter">
              <p class="newsletterTitle">{{ section.settings.newsletter_title }}</p>
              {% render 'newsletter-form' %}
            </div>
            </div>
          </div>
         </div>
         <div class="singlefooterRight">
           <div class="rightFooterInner">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'linklist' %}
                    {% assign linklist = linklists[block.settings.linklist] %}
                    <div class="footerMenu footer__block" {{ block.shopify_attributes }}>
                      <p class="footer__Menutitle">{{ linklist.title }}</p>
                      <ul class="footer-quicklinks">
                        {% for link in linklist.links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                  {% when 'page' %}
                    {% assign page = pages[block.settings.page] %}
                    {% if page == blank or page.empty? %}
                      <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                        <p class="uppercase footer__title">{{ shop.name }}</p>
                        <hr class="hr--underline">
                        <div class="rte rte--column">{{ 'home_page.onboarding.no_content' | t }}</div>
                    </div>
                    {% else %}
                      <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                        <p class="uppercase footer__title">{{ page.title | escape }}</p>
                        <hr class="hr--underline">
                        <div class="rte rte--column">{{ page.content }}</div>
                      </div>
                    {% endif %}

                  {% when 'text' %}
                    <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                      <p class="uppercase footer__title">{{ block.settings.title | escape }}</p>
                      <hr class="hr--underline">
                      <div class="rte rte--column">{{ block.settings.text }}</div>
                    </div>

                  {% when 'newsletter' %}
                    <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                      <p class="uppercase footer__title">{{ 'layout.footer.newsletter_title' | t }}</p>
                      <hr class="hr--underline">
                      <div class="rte rte--column">
                        {{ block.settings.richtext }}
                      </div>
                      {% render 'newsletter-form' %}
                    </div>

                  {% else %}
                {% endcase %}
              {% endfor %}
           </div>
         </div>
      </div>
    </div>
    <div class="lowerFooterWrapper">
      <div class="lowerFooterInner">
        <div class="paymentArea">
          {% if section.settings.footer_payment_enable %}
            {% unless shop.enabled_payment_types == empty %}
            <ul class="footer-payment payment-icons inline-list">
              {% for type in shop.enabled_payment_types %}
              <li>
                {{ type | payment_type_svg_tag: class:'payment-icon' }}
                <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
              </li>
              {% endfor %}
            </ul>
            {% endunless %}
          {% endif %}
        </div>
        <div class="copyRightArea">
          {{ section.settings.copyright_text  }}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "label": "Footer logo",
      "type": "image_picker",
      "id": "footer_image",
      "info": "400 x 200px .png"
    },
    {
      "type": "header",
      "content": "Bottom bar"
    },
    {
      "type": "link_list",
      "id": "footer_secondary_linklist",
      "label": "Link List",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "checkbox",
      "id": "footer_payment_enable",
      "label": "Show payment types"
    },
    {
      "type": "checkbox",
      "id": "footer_social_enable",
      "label": "Show social icons"
    },
    {
      "type": "header",
      "content": "Newsletter"
      
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default":"Stay up to date with launches, promotions and updates."
    },
    {
      "type": "header",
      "content": "Copyright"
      
    },
    {
      "type": "richtext",
      "id": "copyright_text",
      "label": "Coppyright Text",
      "default":"<p>© 2024 ZodiacJules all rights reserved.</p>"
    },
    {
      "type": "header",
      "content": "language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    }
  ],
  "blocks" : [
    {
      "type": "linklist",
      "name": "Link list",
      "settings": [
        {
           "type": "link_list",
           "id": "linklist",
           "label": "Link list",
           "default": "main-menu",
           "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Subscribers are under 'Accepts Marketing' in your [customer admin](/admin/customers)."
        },
        {
          "id": "richtext",
          "type": "richtext",
          "label": "Newsletter description",
          "default": "<p>Join to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text column"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        }
      ]
    }
  ]
}
{% endschema %}
